@charset "UTF-8";

body {
    background: url("../images/NewWorld.jpg");
    margin: 0;
    padding: 0;
}

header img {
    width: 200px;
    height: auto;
}

nav th {
    width: 100px;
    height: auto;
}

nav th:hover {
    background-color: #eeeeee;
}