@charset "UTF-8";

body {
    border: 3px solid #000000;
    margin: 0;
}

header img {
    width: 200px;
    height: auto;
}

nav th {
    padding: 0;
    width: 100px;
    height: auto;
}

nav th:hover {
    background-color: #eeeeee;
}

.flexslider {
    width: 80%;
    height: auto;
}