/* CSS Document */

body {
background-color: #666666;

}

#wrap {
	margin:auto;
	width: 900px;
	background-color: #ffffff;
	border-radius:10px;
}

#nav {
background-color: #474747;
}
#nav ul {
text-align: right;
}
#nav ul li {
display: inline;
}

#sidebar {
width: 200px;
float: left;
}

#article {
width:680px;
float:left;
}

#article h2 {
margin-top:10px;
margin-bottom:10px;
font-size:24px;
}

#article h3 {
margin-top:15px;
padding-left:5px;
border-left:5px solid #996633
}

#article p {
line-height:30px;
}

#article table {
padding:5px;
border:1px solid #bd2345
}

#article table th {
padding: 5px;
border:1px solid #947832
background-color:#123456
}
#article table td {
padding: 5px;
border:1px solid #9
background-color:#124567
}

#footer {
clear:both;
border-top:1px solid #68605e
}

#footer p {
padding:10px;
text-align:center;
}
